{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3" >
            <div class="card" style="width: 20rem; padding:30px;border:20px;">
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="150px" height="250px"><br>
            <div class="card-body" s>
                <h5 class="card-title">{{i.name}}</h5>
                <!--    <p class="card-text">{{i.desc}}</p>-->
                <a href="{% url 'movieapp:details' i.id %}" class="btn btn-primary">Detail View</a>
            </div>
            </div>
        </div>
       {% endfor %}
    </div>
</div>


{% endblock %}